@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.playfair {
  font-family: 'Playfair Display', serif;
}

.cursive {
  font-family: 'Edu NSW ACT Cursive', cursive;
}